<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="{% url 'user' %}"><i class="fa fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'project_backlog' project.id %}">代办</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'project_sprints' project.id %}">迭代</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'project_share' project.id %}">共享</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'project_settings' project.id %}">设置</a>
            </li>
        </ul>
        <div class="dropdown">
            <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'user' %}">
                    <i class="fa fa-fw fa-home"></i><br>{{ user.name }}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'user_settings' %}">
                    <i class="fa fa-fw fa-cog"></i>&nbsp;设置
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'user_logout' %}">
                    <i class="fa fa-fw fa-sign-out-alt"></i>&nbsp;退出
                </a>
            </div>
        </div>
    </div>
</nav>
