<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>TeamWin</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">TeamWin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    关于
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">系统简介</a>
                    <a class="dropdown-item" href="#">工作流程</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">意见反馈</a>
                </div>
            </li>
        </ul>
        <a class="btn" href="{% url 'user_login' %}">登录</a>
        <a class="btn btn-outline-primary" href="{% url 'user_signup' %}">注册</a>
    </div>
</nav>

<div class="container mt-sm-5">
    <form method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="搜索" name="keyword" aria-label="Search">
    </form>
</div>

{% include 'include/js.html' %}
</body>
</html>
