<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>TeamWin</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">项目协作与共享平台</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <a class="btn" href="{% url 'user_login' %}">登录</a>
        <a class="btn btn-outline-primary" href="{% url 'user_signup' %}">注册</a>
    </div>
</nav>

<div class="container mt-5">
    <form class="mb-4" method="get">
        <input class="form-control" type="search" placeholder="搜索" name="kw" aria-label="Search">
    </form>

    <!-- project list -->
    {% for item in projects %}
        <div class="card border-dark my-3 mx-auto">
            <div class="card-header">创建时间：{{ item.created }}</div>
            <div class="card-body">
                <h5 class="card-title"><a class="card-link" href="#">{{ item.name }}</a></h5>
                <p class="card-text">{{ item.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% include 'include/js.html' %}
</body>
</html>
