<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>项目</title>
</head>
<body>
{% include 'project/include/navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col my-auto text-left">代办事项</div>
        <div class="col my-auto text-right">
            <button type="button" class="btn p-0" data-toggle="modal"
                    data-target="#newTaskModal">
                <i class="fa fa-plus-circle"></i>&nbsp;新建代办
            </button>
        </div>
    </div>

    {% if tasks %}
        {% for item in tasks %}
            <div class="card border-dark mt-3 mx-auto">
                <div class="card-header">
                    <div class="row">
                        <div class="col text-left">
                            <a class="card-link"
                               href="{% url 'project_task' project.id item.id %}">{{ item.subject }}</a>
                        </div>
                        <div class="col text-right">{{ item.created | date:"Y-m-d H:i:s" }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <pre style="white-space: pre-wrap;">{{ item.description }}</pre>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning mt-3 text-center" role="alert">
            无代办事项！
        </div>
    {% endif %}

    <div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="newTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTaskModalLabel">新建代办</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="newTask">
                        <div class="form-group">
                            <label for="newTaskSubject">代办主题</label>
                            <input type="text" name="taskSubject" class="form-control" id="newTaskSubject" required>
                        </div>
                        <div class="form-group">
                            <label for="newTaskDescription">代办描述</label>
                            <textarea class="form-control" name="taskDescription" id="newTaskDescription"
                                      rows="6" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="newTaskAssigned">负责人</label>
                            <select class="custom-select" name="taskAssigned" id="newTaskAssigned">
                                <option value="" selected>无</option>
                                {% for item in members %}
                                    <option value="{{ item.user.id }}">{{ item.user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">创建</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'include/js.html' %}
</body>
</html>
