<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>项目 | 事项</title>
</head>
<body>
{% include 'project/include/navbar.html' %}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">待处理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">处理中</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">已完成</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">迭代评审</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">迭代回顾</a>
        </li>
    </ul>
</div>

{% include 'include/js.html' %}
</body>
</html>
