<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>项目</title>
</head>
<body>
{% include 'project/include/navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col my-auto text-left">{{ task.subject }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <pre class="card-text">{{ task.description }}</pre>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="pre-scrollable">
                        <div class="card-text text-muted mt-1">Jun 2020-01-01 12:00:00</div>
                        <pre class="border rounded text-wrap p-2">comment</pre>
                    </div>
                    <form class="mt-3" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="commentTask">
                        <div class="input-group">
                            <input type="text" name="comment" class="form-control">
                            <div class="input-group-append">
                                <button type="submit" class="btn border btn-success">评论</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="updateTask">
                <div class="form-group">
                    <label for="editTaskSubject" class="col-form-label">主题</label>
                    <input type="text" name="taskSubject" class="form-control" id="editTaskSubject" required>
                </div>
                <div class="form-group">
                    <label for="editTaskDescription" class="col-form-label">描述</label>
                    <textarea class="form-control" name="taskDescription" id="editTaskDescription"
                              rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <label for="editTaskAssigned" class="col-form-label">负责人</label>
                    <select class="custom-select" id="editTaskAssigned">
                    </select>
                </div>
                <div class="form-group">
                    <label for="editTaskSprint" class="col-form-label">移动到迭代</label>
                    <select class="custom-select" id="editTaskSprint">
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-danger"
                            onclick="deleteTask();">删除
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- hidden form -->
    <form class="d-none" id="deleteTaskForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="deleteTask">
    </form>
</div>

{% include 'include/js.html' %}

<script>
    function deleteTask() {
        if (confirm("确定删除此事项吗？")) {
            $("#deleteTaskForm").submit();
        }
    }
</script>
</body>
</html>
