<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>用户 | 主页</title>
</head>
<body>

{% include 'user/include/navbar.html' %}

<div class="container mt-3">
    {% if message %}
        <div class="alert alert-warning alert-dismissible fade show text-center mt-3" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-8 border-right">
            <div class="row">
                <div class="col my-auto text-left">我的项目</div>
                <div class="col my-auto text-right">
                    <button type="button" class="btn p-0" data-toggle="modal"
                            data-target="#newProjectModal">
                        <i class="fa fa-plus-circle"></i>&nbsp;新建项目
                    </button>
                </div>
            </div>

            {% if projects %}
                {% for item in projects %}
                    <div class="card border-dark mt-3 mx-auto">
                        <div class="card-header">
                            <div class="row">
                                <div class="col text-left">
                                    <h5 class="card-title my-auto">
                                        <a class="card-link"
                                           href="{% url 'project_backlog' item.id %}">{{ item.name }}</a>
                                    </h5>
                                </div>
                                <div class="col text-right">{{ item.created | date:"Y-m-d H:i:s" }}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <pre style="white-space: pre-wrap;">{{ item.description }}</pre>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning mt-3 text-center" role="alert">
                    您还未创建或加入任何项目！
                </div>
            {% endif %}
        </div>
        <div class="col-4 border-left">
            <div class="row">
                <div class="col my-auto text-left">我的消息</div>
            </div>
            {% if invitations %}
                {% for item in invitations %}
                    <div class="card border-dark mt-3 mx-auto">
                        <div class="card-body">
                            <p class="card-title text-muted">
                                {{ item.created | date:"Y-m-d H:i:s" }}
                            </p>
                            <p class="card-text">
                                <strong>{{ item.inviter.name }}</strong>
                                邀请您加入项目
                                <strong class="text-info">#{{ item.project.id }}</strong>
                                <strong>{{ item.project.name }}</strong>
                            </p>
                        </div>
                        <div class="card-footer p-1">
                            <div class="row">
                                <div class="col text-right">
                                    <form method="post" class="d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="accept">
                                        <input type="hidden" name="invitationId" value="{{ item.id }}">
                                        <button type="submit" class="btn btn-sm btn-primary">加入</button>
                                    </form>
                                    <form method="post" class="d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="refuse">
                                        <input type="hidden" name="invitationId" value="{{ item.id }}">
                                        <button type="submit" class="btn btn-sm btn-danger">拒绝</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning mt-3 text-center" role="alert">
                    没有关于您的消息！
                </div>
            {% endif %}
        </div>
    </div>

    <!-- new project modal -->
    <div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newProjectModalLabel">新建项目</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="newProjectForm">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="new">
                        <div class="form-group">
                            <label for="newProjectName" class="col-form-label">项目名称</label>
                            <input type="text" name="name" class="form-control" id="newProjectName" required>
                        </div>
                        <div class="form-group">
                            <label for="newProjectDescription" class="col-form-label">项目描述</label>
                            <textarea class="form-control" name="description" id="newProjectDescription"
                                      rows="6" required></textarea>
                        </div>
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">创建</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'include/js.html' %}
</body>
</html>
