<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>Projects</title>
</head>
<body>

{% include 'user/include/navbar.html' %}

<div class="container mt-3">
    {% if message %}
        <div class="alert alert-warning alert-dismissible fade show text-center mt-3" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">全部项目</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
               aria-controls="profile" aria-selected="false">我的项目</a>
        </li>
        <li class="nav-item ml-2">
            <button type="button" class="btn border-dark" data-toggle="modal" data-target="#newProjectModal">
                <i class="fa fa-plus"></i>&nbsp;新建
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row mt-3 text-center">
                <div class="col my-auto mx-auto text-center" style="max-width: 75%">
                    <form method="get">
                        <input class="form-control form-control-sm" type="text" name="kw">
                    </form>
                </div>
            </div>

            {% for item in public_projects %}
                <div class="card border-dark my-3 mx-auto">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                项目负责人：{{ item.owner.name }}
                            </div>
                            <div class="col">
                                创建时间：{{ item.created }}
                            </div>
                            <div class="col">
                                成员人数：100
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a class="card-link" href="#">{{ item.name }}</a></h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mt-3 text-center">
                <div class="col my-auto mx-auto text-center" style="max-width: 75%">
                    <form method="get">
                        <input class="form-control form-control-sm" type="text" name="kw">
                    </form>
                </div>
            </div>
            <!-- project list -->
            {% for item in project_list %}
                <div class="card border-dark my-3 mx-auto">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                创建时间：{{ item.created }}
                            </div>
                            <div class="col text-center">
                                成员人数：100
                            </div>
                            <div class="col text-right">
                                {% if not item.visibility %}
                                    <i class="fa fa-lock fa-fw"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a class="card-link" href="#">{{ item.name }}</a></h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- new project modal -->
    <div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newProjectModalLabel">新建项目</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="newProjectForm">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="new">
                        <div class="form-group">
                            <label for="newProjectName" class="col-form-label">项目名称</label>
                            <input type="text" name="name" class="form-control" id="newProjectName">
                        </div>
                        <div class="form-group">
                            <label for="newProjectDescription" class="col-form-label">项目描述</label>
                            <textarea class="form-control" name="description" id="newProjectDescription"
                                      rows="6"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="visibility" id="projectVisibility1"
                                       value="public">
                                <label class="form-check-label" for="projectVisibility1">公开</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="visibility" id="projectVisibility2"
                                       value="private" checked>
                                <label class="form-check-label" for="projectVisibility2">私有</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" onclick="newProject();" class="btn btn-primary">创建</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'include/js.html' %}
<script>
    function newProject() {
        let name = $.trim($("#newProjectName").val());
        let description = $.trim($("#newProjectDescription").val());
        if (name.length < 1) {
            alert("请输入正确的项目名称！");
        } else if (description.length < 1) {
            alert("请输入适当的项目描述！");
        } else {
            $("#newProjectForm").submit();
        }
    }
</script>
</body>
</html>
