<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>Projects</title>
</head>
<body>

{% include 'user/include/navbar.html' %}

<div class="container-fluid">
    <div class="row border">
        <nav class="nav col-10">
            <a class="nav-link active" href="#">我参与的</a>
            <a class="nav-link" href="#">我管理的</a>
            <a class="nav-link" href="#">全部项目</a>
        </nav>
        <div class="col-2 my-auto">
            <button class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i>&nbsp;新建项目
            </button>
        </div>
    </div>
</div>

{% include 'include/js.html' %}
</body>
</html>
