<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>用户 | 设置</title>
</head>
<body>

{% include 'user/include/navbar.html' %}

<div class="container mt-sm-5">
    {% if message %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <table class="table">
        <tr class="row">
            <td class="col text-center">用户</td>
            <td class="col">{{ user.name }}</td>
            <td class="col">
                <button type="button" class="btn" data-toggle="modal" data-target="#updateUsernameModal">
                    <i class="fa fa-edit text-danger"></i>
                </button>
            </td>
        </tr>
        <tr class="row">
            <td class="col text-center">邮箱</td>
            <td class="col">{{ user.email }}</td>
            <td class="col">
                <button type="button" class="btn" data-toggle="modal" data-target="#updateUserEmailModal">
                    <i class="fa fa-edit text-danger"></i>
                </button>
            </td>
        </tr>
        <tr class="row">
            <td class="col text-center">密码</td>
            <td class="col">*********</td>
            <td class="col">
                <button type="button" class="btn" data-toggle="modal" data-target="#updateUserPasswordModal">
                    <i class="fa fa-edit text-danger"></i>
                </button>
            </td>
        </tr>
    </table>
</div>

<!-- update username -->
<div class="modal fade" id="updateUsernameModal" tabindex="-1" aria-labelledby="updateUsernameModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUsernameModalLabel">修改用户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="updateUsernameForm">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="updateName">
                    <div class="form-group">
                        <label for="oldUsername" class="col-form-label">原用户</label>
                        <input type="text" class="form-control" id="oldUsername" value="{{ user.name }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="newUsername" class="col-form-label">新用户</label>
                        <input type="text" name="newUsername" class="form-control" id="newUsername" required>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- update user email -->
<div class="modal fade" id="updateUserEmailModal" tabindex="-1" aria-labelledby="updateEmailModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEmailModalLabel">修改邮箱</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="updateUserEmailForm">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="updateEmail">
                    <div class="form-group">
                        <label for="oldUserEmail" class="col-form-label">原邮箱</label>
                        <input type="email" class="form-control" id="oldUserEmail" value="{{ user.email }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="newUserEmail" class="col-form-label">新邮箱</label>
                        <input type="email" name="newEmail" class="form-control" id="newUserEmail" required>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- update user password -->
<div class="modal fade" id="updateUserPasswordModal" tabindex="-1" aria-labelledby="updateUserPasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserPasswordModalLabel">修改密码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="updateUserPasswordForm">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="updatePassword">
                    <div class="form-group">
                        <label for="oldPassword" class="col-form-label">原密码</label>
                        <input type="text" name="oldPassword" class="form-control" id="oldPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="col-form-label">新密码</label>
                        <input type="text" name="newPassword" class="form-control" id="newPassword" required>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'include/js.html' %}

</body>
</html>
