<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>用户 | 注册</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">项目协作与共享平台</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <a class="btn" href="{% url 'index' %}">登录</a>
        <a class="btn btn-outline-primary" href="{% url 'user_signup' %}">注册</a>
    </div>
</nav>

<div class="container mt-5">
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <h2 class="text-center">账号注册</h2>
    <form class="mx-auto" method="post" style="max-width: 450px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" name="username" id="username" autofocus required>
        </div>
        <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-primary mt-4">注册</button>
    </form>
</div>

{% include 'include/js.html' %}
</body>
</html>
