<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% include 'include/css.html' %}
    <title>项目 | 设置</title>
</head>
<body>
{% include 'project/include/navbar.html' %}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'project_settings' project.id %}">项目</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'project_settings_team' project.id %}">团队</a>
        </li>
    </ul>

    <form method="post" id="updateProjectForm" class="mt-3">
        {% csrf_token %}
        <input id="updateProjectAction" type="hidden" name="action" value="updateProject">
        <input type="hidden" name="projectId" value="{{ project.id }}">
        <div class="form-group">
            <label for="projectName" class="col-form-label">项目名称</label>
            <input type="text" name="projectName" value="{{ project.name }}" class="form-control"
                   id="projectName" required>
        </div>
        <div class="form-group">
            <label for="projectDescription" class="col-form-label">项目描述</label>
            <textarea class="form-control" name="projectDescription" id="projectDescription"
                      rows="10" required>{{ project.description }}</textarea>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
                <div class="col text-right">
                    <button type="button" onclick="deleteProject();" class="btn btn-danger">删除此项目
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% include 'include/js.html' %}
<script>
    function deleteProject() {
        if (confirm("确定要删除此项目吗？")) {
            $("#updateProjectAction").val("deleteProject");
            $("#updateProjectForm").submit();
        }
    }
</script>
</body>
</html>
